POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

TEST_DATABASE_URL=

TIMEZONE="Asia/Kuala_Lumpur"

# auth
JWT_SECRET=
JWT_ALG=
ACCESS_TOKEN_EXPIRE_MINUTES=60

FRONTEND_URL=http://localhost:5173

API_BASE_URL=http://localhost:8000
AI_API_KEY=
AI_MODEL=